# Variables de ejemplo que usa PostgreSQL en docker-compose.
POSTGRES_DB=aulas
POSTGRES_USER=martin
POSTGRES_PASSWORD=martin123

# Host/puerto de la DB vistos desde el contenedor django.
DB_HOST=postgres
DB_PORT=5432

# Variables de ejemplo para superusuario Django.
DJANGO_SU_NAME=martin
DJANGO_SU_EMAIL=martin@example.com
DJANGO_SU_PASSWD=martin123

# Nombre de proyecto a crear si el volumen backend esta vacio.
DJANGO_PROJECT_NAME=app
